extends index.pug

block content
    .container
        .columns.is-centered
            .column.is-half.has-text-centered
                h1.title.is-1 #{title}
                h2.subtitle.is-2 #{subTitle}
                a(href="/google/auth").button.is-primary.is-outlined.is-centered Go To Appoinments